button:hover {
    background: #043453;
}

button:active {
    color: #FCED8B;
    background: #276C70;
}

button {
    text-decoration: none;
    background: #0B3E58;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
    border-radius: 25px;
    color: #FBE380;
    border: none;
}

textarea {
    width: 30%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #FBE380 ;
    color: #FBE380;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
    border-radius: 25px;
    text-align:center;

}

textarea:focus {
    border-bottom: 3px solid #FBE380;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
    border-radius: 25px;
}
.myPosts, .newPost {
    margin: 10px;
    grid-area: content;
    padding: 30px;
    border: 1px solid black;
    border-radius: 25px;
    background: #053854;
    height: auto;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}
