.nav {
    margin: 15px;
    grid-area: nav;
    background: #063F59;
    border: 1px solid black;
    height: auto;
    width: 75px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);

}

.nav div a {
    text-decoration: none;
    color: #FCED8B;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
    border-radius: 25px;
    padding: 15px;


}

.nav div a:hover {
    font-size: 18px;

}

.nav div a:active {
    color: #000;
    background: #276C70;
}
.anchor {
    margin-top: 45px;
}
.active{
    background: #276C70;
}
