.content {
    margin: 25px;
    grid-area: content;
    padding: 30px;
    border: 1px solid black;
    border-radius: 25px;
    background: #053854;
    height: auto;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}
.content img {
    width: 100%;
    height: 350px;
    border-radius: 25px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}
.avaDescription {
    margin: 10px;
    grid-area: content;
    padding: 30px;
    border: 1px solid black;
    border-radius: 25px;
    background: #053854;
    height: auto;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}
