.app-wrapper {
    background: #182328;
    display: grid;

    grid-template-areas:
            'header header'
            'nav content ';
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 11fr;
    grid-gap: 5px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
    color: #FBE380;
}

a:active {
    color: deepskyblue;
}

em:hover {
    font-size: 18px;
}

em {
    color: #989625;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
    border-radius: 25px;
    padding: 5px;
    position: relative;
    bottom: 14px;
}

.ava-description {
    margin: 10px;
    grid-area: content;
    padding: 30px;
    border: 1px solid black;
    border-radius: 25px;
    background: #053854;
    height: auto;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
}


