.message {
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background: #053854;
    height: auto;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 025);
    width: auto;
    margin-top: 10px;
}